* {
    margin: 0;
    padding: 0;

}

:root {
    --cor-principal: #667085;
    --fonte-principal: "inter"
}

.menu {
  width: 100%;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
   
}

.cabecalho_menu {
    display: flex;
    text-decoration: none;

}

#welcomeMessage {
  display: none; /* Começa oculto */
  color: #00BC60; /* Cor do texto */
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombrinha leve */
  text-align: center; /* Centraliza o texto */
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#welcomeMessage h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#welcomeMessage p {
  font-size: 18px;
}

.link {
    text-decoration: none;
    margin-right: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

.botao_1:hover{
    color: white;
    background-color:#00BC60 ;
    border-color: white;
}

.logo {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00BC60;
    margin-right: 2em;
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

.botao_1 {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00BC60;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background-color:white ;
    border-style: solid;
    padding: 1em;
    border-color: #00BC60;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}

.link:hover {  
   color: #00BC60;
  }



  .container-1{
    display: flex;
    top: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(75vh - 5px); /* Leva em consideração a altura do cabeçalho e do rodapé */
    padding-bottom: 5px; /* Leva em consideração a altura do rodapé */
    overflow: auto; 
    flex-wrap: wrap
  }

  #video-inicial{
    width: 30%;
  
  }

  .texto{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
  }

  .texto-2{
    background-color: #00BC60;
    color: white;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  #cartao {
    width: 50%;
    animation-duration: 3s;
    animation-name: slidein;  
    animation-iteration-count: infinite;
  }


.cta {
    background-color: #00BC60; /* Cor de fundo da CTA */
    color: white; /* Cor do texto */
    padding: 40px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.cta-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.cta-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-content .botao_1 {
    background-color: white; /* Cor do botão */
    color: #00BC60; /* Cor do texto do botão */
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.cta-content .botao_1:hover {
    background-color: #00BC60; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  .texto-3 {
    display: flex;
    flex-direction: column;
  }

  #titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    width: 70%;
    font-weight: bold;
  }

  #titulo-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    width: 70%;
    font-weight: bold;

  }
  #subtitle-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;

  }

  #subtitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2%;
  }

  #titulo-span {
    color: #00BC60;
  }

  #texto-2{
    font-style: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 3%;
  }

  
  #text-color{
    color: #00BC60;
  }

  #texto-3{
    font-style: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #00BC60;
    font-weight: 700;
    width: 100%;
    font-size: 1em;
    line-height: 20px;
    border-style: solid;
    padding: 1em;
    border-color: #00BC60;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  

  .logo span{
    display: none;
  }
  .footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    
  }
 .container-2{
  display: flex;
  justify-content: space-around;
 }


 .column-2{
  width: 20%;
  
 }

 #under{
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;

 }

 #up{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
 }

 .number{
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
 }
 #number-1{
  color: #00BC60;
 }


 #bold{
  font-weight: 1000;
 }

 #app{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
 }

 #icon-store{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
 }

 #icon{
  width: 20px;
 }

 .icon{
  display: flex;
  justify-content: space-between;
 
 }



#slide{
    width: 100%;
    
}


@media screen and (max-width: 600px) {
  .container {
  display: flex;
  flex-direction: column;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
  }

  
}

